html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(39, 39, 39);
    color: #747474;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-wrap {
        width: 100%;
    }

    p {
        font-size: 20px;
    }
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #ff652f;
}

h2 {
    font-size: 30px;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 30px;
}

// Code for hr was copied from https://css-tricks.com/examples/hrs/ 
// and then adjusted for my needs

hr {
    border: 0;
    height: 2px;
    background: #747474;
    width: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-area {
    margin-bottom: 20px;

    p {
        text-align: center;
        font-size: 20px;
    }
}

.game-area {
    display: flex;
    gap: 25px;
}

.enemy-select,
.player-select {
    display: flex;
    justify-content: center;
    gap: 15px;

    .choice-icon {
        width: 90px;
        height: 90px;
        padding: 10px;
        border: 2px solid #747474;
        border-radius: 10px;
    }
}

.player-select {
    .choice-icon:hover {
        transform: scale(1.05);
        transition: transform 0.2s;
        border: 2px solid #747474;
        border-radius: 10px;
        cursor: pointer;
    }

    #player-jet:hover {
        color: #ff652f;
    }

    #player-gun:hover {
        color: #ffe400;
    }

    #player-bomb:hover {
        color: #14a76c;
    }
}

.player-area {
    display: flex;
    flex-direction: column;
    border: 2px solid #747474;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    justify-content: center;
}

.player-icon {
    align-self: center;

    .user-icon {
        height: 60px;
        width: 60px;
    }
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: #1f1f1f;

    p {
        font-size: 18px;
    }

    .github-icon {
        color: #747474;
    }
}

.yellow {
    color: #ffe400;
}

.orange {
    color: #ff652f;
}

.green {
    color: #14a76c;
}