html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(39, 39, 39);
    color: #C9C9C9;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-wrap {
        width: 100%;
        background-color: #1f1f1f;
    }

    p {
        font-size: 26px;
        color: #dadada;
    }
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #ff652f;
}

h2 {
    font-size: 40px;
    text-align: center;
    color: #dadada;
}

h3 {
    text-align: center;
    font-size: 30px;
    color: #dadada;
}

// Code for hr was copied from https://css-tricks.com/examples/hrs/ 
// and then adjusted for my needs

hr {
    border: 0;
    height: 2px;
    background: #747474;
    width: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-area {
    margin-bottom: 20px;

    p {
        text-align: center;
        font-size: 26px;
        color: #dadada;
    }
}

.game-area {
    display: flex;
    gap: 25px;
}

.enemy-select,
.player-select {
    display: flex;
    justify-content: center;
    gap: 15px;

    .choice-icon {
        width: 90px;
        height: 90px;
        padding: 10px;
        border: 2px solid #747474;
        border-radius: 10px;
    }
}

.player-select {
    .choice-icon:hover {
        border: 2px solid;
        border-radius: 10px;
        cursor: pointer;
    }

    .orange-hover:hover {
        color: #ff652f;
    }

    .yellow-hover:hover {
        color: #ffe400;
    }

    .green-hover:hover {
        color: #14a76c;
    }
}

.player-area {
    display: flex;
    flex-direction: column;
    border: 2px solid #747474;
    border-radius: 10px;
    width: 400px;
    height: 320px;
    justify-content: center;
}

.jet-chosen {
    color: #ff652f;
    border: 2px solid;
}

.gun-chosen {
    color: #ffe400;
    border: 2px solid;
}

.bomb-chosen {
    color: #14a76c;
    border: 2px solid;
}

.player-icon {
    align-self: center;

    .user-icon {
        height: 60px;
        width: 60px;
        padding-top: 20px;
    }
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: #1f1f1f;

    p {
        font-size: 18px;
        color: #dadada;
    }

    .github-icon {
        color: #dadada;
    }

    a:link,
    a:visited {
        text-decoration: none;
        color: #ff652f;
    }

    a:hover {
        text-decoration: underline;
    }

    span {
        color: #ff652f;
    }
}

.yellow-icon {
    color: #ffe400;
}

.green-icon {
    color: #14a76c;
}

@media screen and (max-width: 875px) {
    .game-area {
        flex-direction: column;
    }

    .player-area {
        width: 80vw;
    }

    .enemy-select,
    .player-select {
        gap: 15px;

        .choice-icon {
            width: 18vw;
        }
    }
}

@media screen and (max-width: 550px) {
    .header p {
        font-size: 24px;
    }
}