html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-wrap {
        width: 100%;
        background-color: black;
        padding: 10px 0;
    }

    p {
        font-size: 20px;
    }
}

h1 {
    text-align: center;
    color: white;
    font-size: 40px;
}

h3 {
    text-align: center;
    font-size: 30px;
}

hr {
    border: 0;
    height: 1px;
    background: #000;
    background-image: linear-gradient(to right, #ccc, #000, #ccc);
    width: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-area {
    display: flex;
    gap: 25px;
}

.games-select {
    display: flex;
    justify-content: center;
    gap: 15px;

    .choice-icon {
        width: 90px;
        height: 90px;
        padding: 10px;
        border: 1px solid white;

        &:hover {
            transform: scale(1.1);
            color: red;
            border: 1px solid black;
            border-radius: 10px;
        }
    }
}

.player-area {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    justify-content: center;
}

.player-icon {
    align-self: center;

    .user-icon {
        height: 60px;
        width: 60px;
    }
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
}